<HTML>
<HEAD>
<title>El blog de Luis</title>
    <body>
        <div>

             <h1><a href="/">Luis Blog</a></h1>
        </div>

        <div>
            {% for post in posts %}
          <p> publicado: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
        </div>
        {% endfor %}

        <div>

            <!-- <p>published: 12.11.2019, 04:46</p>
            <h2><a href="">El segundo blog</a></h2>
            <p>Hola 2 xd</p> -->
        </div>
    </body>
</html>